body { 
    background: lightblue;
        }
header { 
    margin: 10px;
    border: solid 3px black;
    padding: 20px;
}
#blue {
    border: solid 3px black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
    flex-basis: auto;
}
#purple {
    border: solid 3px black;
    padding: 10px;
    margin: 10px;
    background: purple;
    height: 500px;
    width: 300px;
}
#green {
    border: solid 3px black;
    padding: 10px;
    margin: 10px;
    background: green;
    height: 500px;
    width: 300px;
}
#grey {
    border: solid 3px black;
    padding: 10px;
    margin: 10px;
    background: grey;
    height: 500px;
    width: 300px;
}
footer {
    border: solid 3px black;
    margin: 20px;
    padding: 10px;
}